.App {
    width: 100vw;
    height: 100vh;
    background-color:#fffcf2;
    display: flex;
}

body {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.Navigation {
    height: 100%;
    width: 250px;
    background-color: #134074;
}

.NavbarList {
    height: auto;
    padding: 2rem;
    width: 100%;
}

.NavbarList .row {
    width: 100%;
    height: 60px;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.NavbarList .row:hover {
    cursor: pointer;
    background-color: #13315c;
}

.NavbarList #active {
    background-color:#13315c
}

.row #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title {
    flex: 70%;
}

.PatientList {
    padding: 3rem 0 0 3rem;
}

.PatientForm {
    padding: 3rem 0 0 3rem;
    width: 50%
}

.PatientForm form {
    width: 500px;
}

.PatientForm button {
    color: #13315c;
}

.EditPatientForm {
    padding: 3rem 0 0 3rem;
    width: 600px;
}

.form-field {
    display: flex;
}

.form-group {
    width: 100%;
    padding-right: 1rem;
}

.form-group label {
    width: 200px;
    display: inline-block;
    font-weight: bold;
}

.EditPatientForm button {
    color: #13315c;
}

.Profile {
    padding: 1rem 0 0 1rem;
}

.Home {
    padding: 3rem 0 0 3rem;
    width: 1000px;
}

#deleteIcon {
    text-align: center;
    color: #e63946;
    cursor: pointer;
}

#editIcon, #viewIcon {
    text-align: center;
    cursor: pointer;
}

#genderColumn {
    text-align: center;
}